*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Sarabun';
  color: #003a5d;
  background: none;
  font-size: 12px;
  padding: 0 1cm;
}

#first-page {
  position: relative;
  height: 100%;
}

#first-page img {
  width: 10cm;
}

#first-page .title {
  text-align: center;
  font-size: 28pt;
  font-family: 'Caveat Brush';
  margin-top: 2cm;
  margin-bottom: 2cm;
}

#first-page .subtitle {
  text-align: center;
  font-size: 24pt;
  font-family: 'Caveat Brush';
  margin-bottom: 1cm;
}

#first-page .date {
  text-align: center;
  font-size: 16pt;
  font-weight: 200;  
}

#first-page .foot {
  position: absolute;
  bottom: .5cm;
  left: -2cm;
  right: -2cm;
  height: 45%;
  display: flex;
  flex-direction: column;
  
}

#first-page .blue-background {
  background-color: #003a5d;
  color: white;
  padding: 2cm;
  flex: 1;
  margin: -2px;
}

#first-page .paper{
  content: ' ';
  display: block;
  width: 100%;
  height: 1cm;
  background-image: url('./assets/papier-bleu instit.png');
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-page .paper.top {

}

#first-page .paper.bottom {
  background-position-y: bottom;
  
}

hr {
    margin-bottom: 2cm;
    color: transparent;
    border-color: transparent;
    page-break-after: always;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  font-family: 'Raleway';
  orphans: 3;
  widows: 3;
}
h1 {
  font-size: 16pt;
  text-align: center;
  margin-bottom: 1cm;
}
h2 {
  font-size: 16pt;
  margin-top: calc(1cm / 2);
  text-align: center;
}
h3 {
  margin-bottom: 10px;
  font-size: 12px;
  margin-top: 3mm;
  font-style: italic;
}
h4,
h5,
h6 {
  font-size: 12px;
  margin-bottom: 1mm;
}

h5 {
  font-weight: normal
}

h5 {
  font-style: italic;
  margin: 3mm 0;
}

.lj h1, .lj h2 {
  color: #ff8300;
}

.sg h1, .sg h2 {
  color: #0077b3;
}

.pk h1, .pk h2 {
  color: #d03f15;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

table {
    border-collapse: collapse;
    margin-bottom: .5cm;
    orphans: 3;
    widows: 3;
    page-break-inside: avoid;
}

table.table-list {
  width: 100%;
}

th {
  font-weight: 500;
}

tr:last-child > td, tr:last-child > th {
  border-bottom: none;
}

table thead th {
  font-weight: 600;
  border-bottom: 1px solid #ddd9d9 !important;
}

table.properties th:after {
  content: ' :';  
}

td, th {
  border-bottom: 1px solid #ddd9d9;
  text-align: left;
  padding: 1mm 2mm;
  padding-left: 0;
 
  font-size: 12px
}

table.bigger td, table.bigger th {
  padding: 1mm 3mm;
}

td + th {
  /* border-left: 1px solid #ddd9d9; */
  padding-left: 10mm;
}


table.survey {
  width: 100%;
}

table.survey td, table.survey th  {
  border: 1px solid #ddd9d9;
  padding: 1.5mm;
}

table.survey thead th  {
  font-size: 80%;
}

table.survey thead td {
  border: none;
}

td.option {
  text-align: center;
  vertical-align: middle;
}


.name {
  text-transform: capitalize;
}


.text-user {
  white-space: pre-wrap;
  background: #f7f7f7;
  border:1px solid #ddd9d9;
   border-radius: 4px;
  padding: 4mm;
  margin-bottom: .5cm;
}


.checked:before {
  content: '☑ ';
}

.che:before {
  content: '☐ ';
}


div.toc >ul {
  list-style: none;
  padding-left: 0;
}

div.toc >ul >li {
  list-style: none;
  margin-top: 5mm;
}

.nowrap {
  white-space: nowrap;
}